<launch>
  <arg name="namespace" default="project11/nautilus"/> 
  <arg name="mesobot_namespace" default="project11/mesobot"/>

  <!-- acoustic address or transponder number -->
  <arg name="mesobot_address" default="MNano_2509"/>
  <arg name="mesobot_backup_address" default="MWSM_2712"/>

  <node pkg="mesobot_project11" type="mesobot_node.py" name="mesobot" ns="$(arg mesobot_namespace)">
    <remap from="sms" to="/$(arg namespace)/usbl_modem/received_sms"/>
    <remap from="position" to="/$(arg namespace)/usbl_ranger/positions/$(arg mesobot_address)"/>
    <remap from="backup_position" to="/$(arg namespace)/usbl_ranger/positions/$(arg mesobot_backup_address)"/>
  </node>
</launch>
