<launch>
  <arg name="namespace" default="project11/nautilus"/>

  <node pkg="sonardyne_usbl" type="ranger_node.py" name="usbl_ranger" ns="$(arg namespace)">
    <param name="host" value="sonardyne-navpc"/>
  </node>
  <node pkg="sonardyne_usbl" type="modem_node.py" name="usbl_modem" ns="$(arg namespace)">
    <param name="connection/type" value="udp"/>
    <param name="connection/host" value="sonardyne-navpc"/>
    <param name="connection/input_port" value="50011"/>
    <param name="connection/output_port" value="50010"/>
  </node>
</launch>